#Coins we would like to track in the bot
POPULAR_COINS=BTC,ETH,BNB,USDT,ADA,SOL,XRP,DOT,DOGE,USDC,UNI,LTC,BCH,LINK,ICP,ALGO,AVAX,MATIC,ATOM,FTT,TRX,ETC,THETA,VET,FIL,XMR,XLM,EOS,AAVE,XTZ,NEO,KSM,CAKE,MIOTA,SHIB,HBAR,ENJ,CHZ,MKR,SNX,COMP,DASH,ZEC,YFI,OMG,QTUM,BAT,ZRX
POPULAR_MEME_COINS=DOGE,SHIB,ELON,AKITA,HOGE,KISHU,SAFEMOON,PIG,WOJAK,ASS,KEANU,SHIBA,MONA,SMILE,DOBO,SHIBX,SHIBBY,SHIBACASH,SHIBARMY,SHIBTAMA,COOKIE,SPORE,SPOUT
# Database Connectivity
DB_PROVIDER=mysql
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=example_database
MYSQL_USER=example_user
MYSQL_PASSWORD=example_password

# Other environment variables can be added here